html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
	margin-bottom: 60px;
}

#main {
	margin-top: 2em;
}

#content > .page-header {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

#footer p {
	margin: 1em;
	color: #eee;
}

#footer p#copyright {
	font-size: 0.8em;
}

/* For signin.html */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.notification-bar {
	padding: 0.7em;
}

/* Announcement UI */
.announcement-post {
	background-color: #f8f8f8;
	padding: 1em;
	margin-bottom: 1em;
}
.announcement-post h3 {
	margin-top: 0;
}
.announcement-post h3 a {
}
.announcement-post p {}
.announcement-post-meta {
	font-size: 85%;
	font-style: italic;
	color: #aaa;
}
.announcement-post-body {}

/* Assignment Detail UI */
#submit_panel{
	padding-bottom: 0;
}

#submission_history_body {
}

#submission_history_body td small {
	font-size: 80%;
	font-style: italic;
}