/* Bootstrap Extensions */

.btn {
    padding: 0.4em 0.8em;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

/* Modal extensions */
.modal {
    overflow-y: auto;
}
.modal-xl {width: 90%;}
.modal-adaptive {width:70%; min-width: 400px;}
.modal-open {overflow: auto;}
.modal-content {margin-top: 10%;}
.modal-title .close{line-height: 1.43;}

/* Callout style */
.callout {margin: 20px 0;padding: 15px 30px 15px 15px;border-left: 5px solid #eee;}
.callout-narrow {margin:5px 0 !important;}
.callout-error-frame {
	margin: 8em auto;
	width: 70%;
}
.callout h4 {margin-top: 0;font-size: 1.5em;}
.callout p {font-size: 1em;}
.callout p:last-child {margin-bottom: 0;}
.callout code,.callout .highlight {background-color: #fff;}
.callout-danger {background-color: #F2DEDE;border-color: #F04124;}
.callout-warning {background-color: #FCF8E3;border-color: #E99002;}
.callout-info {background-color: #f0f7fd;border-color: #5BC0DE;}

html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
	margin-bottom: 60px;
}

#main {
	margin-top: 2em;
}

#content > .page-header {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #222;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

#footer p {
	margin: 1em;
	color: #eee;
}

#footer p#copyright {
	font-size: 0.8em;
}

#loading {
	position: absolute;
	right: 2.5em;
	top: 2.5em;
	padding: 0.5em 0.8em;
	background: #11b911;
	color: #fff;
	-moz-animation-delay: 0.5s;
	-moz-animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-duration: 1s;
	z-index: 1280;
}

/* For signin.html */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.notification-bar {
	padding: 0.7em;
}

/* The icons in the manage column of tables */
.manage-icons {
}

,manage-icons a:hover {
	text-decoration: none;
}

/* Announcement UI */
.announcement-post {
	background-color: #f8f8f8;
	padding: 1em;
	margin-bottom: 1em;
}
.announcement-post h3 {
	margin-top: 0;
}
.announcement-post h3 a {
}
.announcement-post p {}
.announcement-post-meta {
	font-size: 85%;
	font-style: italic;
	color: #aaa;
}
.announcement-post-body {}

/* Assignment Detail UI */
#submit_panel{
	padding-bottom: 0;
}

#submission_history_body {
}

#submission_history_body td small {
	font-size: 80%;
	font-style: italic;
}

/* General white block */
.content-block {
	background-color: #f8f8f8;
	padding: 0.5em;
	margin-bottom: 0.4em;
}

br.divider {
}

/* Role list table */
#roles-table input[type="number"] {
	width: 6em;
}
#roles-table td {
	text-align: center;
}

/* Assignment list table in admin cp */
.assignment-item-form .panel-heading {
	cursor: pointer;
	padding: 0.2em 0.4em;
}
