<form class="assignment-item-form form-horizontal" method="post" action="/admin/assignments/update">
	<article class="panel panel-default">
		<section class="panel-heading">
			<h5>
			<i class="fa fa-fw fa-angle-double-down"></i> <?php echo $info['display']?>
			<small><?php echo $key?></small>
			</h5>
		</section>
		<div class="form-toggle hide">
			<section class="panel-body">
<?php require 'ajax_assignment_form.html'?>
			</section>
			<section class="panel-footer text-right">
				<span class="pull-left" id="response"></span>
				<button class="btn btn-danger" id="delete" type="button" data-target="<?php echo $key?>"><i class="fa fa-trash-o"></i> Delete</button>
				<button type="submit" class="btn btn-primary" id="submit"><i class="fa fa-edit"></i> Update</button>
			</section>
		</div>
	</article>
</form>