<h2 class="page-header">Home
	<small>data collected at <?php echo date('c')?></small>
</h2>
<h3 class="sub-header">Status</h3>
<h4>Web Server</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>System Uptime</td>
				<td>
<pre><?php system('uptime')?></pre>
				</td>
			</tr>
			<tr>
				<td>Memory Usage</td>
				<td>
<pre>
<?php
	//$output = array();
	exec('free -m', $output);
	foreach ($output as $line) {
		echo $line . PHP_EOL;
	}
?>
</pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>