<h2 class="page-header">Submissions</h2>
<form class="form-horizontal" id="search-submission-form" method="post" action="/admin/submissions/query">
	<article class="panel panel-default">
		<section class="panel-body">
			<div class="form-group">
				<label for="name_pattern" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="text" id="name_pattern" name="name_pattern" value="*" class="form-control" title="Support wildcard expression." />
				</div>
			</div>
			<div class="form-group">
				<label for="assignment_id" class="col-sm-2 control-label">Assignment</label>
				<div class="col-sm-10">
					<select id="assignment_id" name="assignment_id[]" class="selectpicker" title="Choose one or more assignment..." multiple data-selected-text-format="values" data-width="100%">
					<?php
					foreach ($assignment_list as $key => $info) {
						echo "<option value=\"$key\">$key</option>";
					}
					?>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="status" class="col-sm-2 control-label">Status</label>
				<div class="col-sm-10">
					<select id="status" name="status[]" class="selectpicker" title="Pick some status..." multiple data-selected-text-format="values">
						<option>submitted</option>
						<option>queued</option>
						<option>being graded</option>
						<option>graded</option>
						<option>error</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="date_created_start" class="col-sm-2 control-label">DateCreated</label>
				<div class="col-sm-5">
					<div class="input-group date" data-date-format="YYYY-MM-DDThh:mm:ss">
						<span class="input-group-addon">from</span>
						<input type="text" class="form-control" id="date_created_start" name="date_created_start" title="format: yyyy-mm-ddThh:mm:ss" />
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="input-group date" data-date-format="YYYY-MM-DDThh:mm:ss">
						<span class="input-group-addon">to</span>
						<input type="text" class="form-control" id="date_created_end" name="date_created_end" title="format: yyyy-mm-ddThh:mm:ss" />
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="date_updated_start" class="col-sm-2 control-label">DateUpdated</label>
				<div class="col-sm-5">
					<div class="input-group date" data-date-format="YYYY-MM-DDThh:mm:ss">
						<span class="input-group-addon">from</span>
						<input type="text" class="form-control" id="date_updated_start" name="date_updated_start" title="format: yyyy-mm-ddThh:mm:ss" />
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="input-group date" data-date-format="YYYY-MM-DDThh:mm:ss">
						<span class="input-group-addon">to</span>
						<input type="text" class="form-control" id="date_updated_end" name="date_updated_end" title="format: yyyy-mm-ddThh:mm:ss" />
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="grade_min" class="col-sm-2 control-label">Grade</label>
				<div class="col-sm-5">
					<div class="input-group date" data-date-format="YYYY-MM-DDThh:mm:ss">
						<span class="input-group-addon">min</span>
						<input type="number" class="form-control" id="grade_min" name="grade_min" />
					</div>
				</div>
				<div class="col-sm-5">
					<div class="input-group date" data-date-format="YYYY-MM-DDThh:mm:ss">
						<span class="input-group-addon">max</span>
						<input type="number" class="form-control" id="grade_max" name="grade_max" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Specials</label>
				<div class="col-sm-10">
					<div class="radio">
						<label>
							<input type="radio" name="special_cond" id="special_cond_1" value="" checked> No special conditions.
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="special_cond" id="special_cond_2" value="latest"> List only the LATEST submissions for each user.
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="special_cond" id="special_cond_3" value="highest"> List only the HIGHEST submissions for each user.
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2 text-right">
					<small id="response"></small>
					<input type="submit" id="search-submit" class="btn btn-primary" value="Search" />
				</div>
			</div>
		</section>
	</article>
</form>
<form class="form-horizontal" id="submission-record-form" method="post" action="/admin/submissions/update">
	<div class="table-responsive">
		<table id="submissions-table" class="table table-hover table-bordered">
			<thead>
				<tr><td><input type="checkbox" onclick="selectAll(this, 'submissions-table-body')" /></td><td>User</td><td>Assignment</td><td>Status</td><td class="text-center">Raw Grade</td><td class="text-center">&Delta; Grade</td><td>Comment</td><td class="text-center">Manage</td></tr>
			</thead>
			<tbody id="submissions-table-body">
			</tbody>
		</table>
	</div>
	<div class="help-block">
		<select class="selectpicker" id="action-selector" name="action">
			<option value="">Batch action</option>
			<option value="adjust">Adjust grades</option>
			<option value="regrade">Regrade selected</option>
			<option value="delete">Delete selected</option>
		</select>
		<div class="pull-right">
			<input type="submit" class="btn btn-default" id="submit_button" value="Submit" />
		</div>
	</div>
	<div id="response" class="text-center"></div>
</form>
