<h2 class="page-header">Roles</h2>
<div class="help-block">
	Delete the selected roles, update the existing roles, and create a new role if its <em>ID</em> is given.
</div>
<div class="table-responsive">
	<form id="roles-form" method="post" action="/admin/roles/update">
	<table id="roles-table" class="table table-hover table-bordered">
		<thead>
			<tr><td></td><td>ID</td><td>Name</td><td>Can submit</td><td>Submit pre-start</td><td>Submit pastdue</td><td>Override Quota</td><td>Queue Priority</td><td>Manage</td></tr>
		</thead>
		<tbody>
<?php
$i = 0;
$role_select_dom = '<select id="role-selector" name="role" class="selectpicker" data-width="auto">';
$checked_str = ' checked="checked"';
foreach ($roles_info as $id => $data) {
	$role_select_dom .= "<option value=\"$id\">$id</option>";
	echo "<tr>" .
		"<td><input type=\"checkbox\" name=\"current[$i][delete]\" value=\"true\" /></td>" .
		"<td><input type=\"text\" name=\"current[$i][key]\" size=\"8\" value=\"$id\" /></td>" .
		"<td><input type=\"text\" name=\"current[$i][display]\" size=\"12\" value=\"" . $data['display'] . "\" /></td>" .
		"<td><input type=\"checkbox\" name=\"current[$i][submit]\" value=\"true\"" . ($data['submit'] ? $checked_str : '') . " /></td>" .
		"<td><input type=\"checkbox\" name=\"current[$i][submit_prestart]\" value=\"true\"" . ($data['submit_prestart'] ? $checked_str : '') . " /></td>". 
		"<td><input type=\"checkbox\" name=\"current[$i][submit_overdue]\" value=\"true\"" . ($data['submit_overdue'] ? $checked_str : '') . " /></td>" .
		"<td><input type=\"checkbox\" name=\"current[$i][override_quota]\" value=\"true\"" . ($data['override_quota'] ? $checked_str : '') . " /></td>" .
		"<td><input type=\"number\" name=\"current[$i][submit_priority]\" value=\"" . $data['submit_priority'] . "\" max=\"255\" min=\"0\" step=\"1\" /></td>" .
		"<td><input type=\"checkbox\" name=\"current[$i][manage]\" value=\"true\"" . ($data['manage'] ? $checked_str : '') . " /></td>" .
		"</tr>";
	++$i;
}
$role_select_dom .= '</select>';
echo "<tr>" .
	"<td></td>" .
	"<td><input type=\"text\" name=\"new[key]\" size=\"8\" /></td>" .
	"<td><input type=\"text\" name=\"new[display]\" size=\"12\" /></td>" .
	"<td><input type=\"checkbox\" name=\"new[submit]\" value=\"true\" /></td>" .
	"<td><input type=\"checkbox\" name=\"new[submit_prestart]\" value=\"true\" /></td>". 
	"<td><input type=\"checkbox\" name=\"new[submit_overdue]\" value=\"true\" /></td>" .
	"<td><input type=\"number\" name=\"new[submit_priority]\" max=\"255\" min=\"0\" step=\"1\" /></td>" .
	"<td><input type=\"checkbox\" name=\"new[manage]\" /></td>" .
	"</tr>";
?>
		</tbody>
	</table>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-md-10" id="roles-form-response"></div>
			<div class="col-sm-2 col-md-2"><input type="submit" class="btn btn-primary" value="Update" /></div>
		</div>
	</div>
	</form>
</div>
<br class="divider" />

<h2 class="page-header">Users</h2>

<h3 class="sub-header">Search</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-inline" id="search-user-form" method="post" action="/admin/users/do">
			<input type="hidden" name="format" value="html" />
			<input type="hidden" name="action" value="query" />
			<div class="form-group">
				<label for="name_pattern" class="control-label">Username</label>
				<input type="text" name="name_pattern" value="*" class="form-control" title="Support wildcard expression." required />
			</div>
			<div class="form-group">
				<label for="role_pattern" class="control-label">Role</label>
				<input type="text" name="role_pattern" value="*" class="form-control" title="Support wildcard expression." required />
			</div>
			<div class="form-group pull-right">
				<input type="submit" id="search-submit" class="btn btn-primary" value="Search" />
			</div>
		</form>
	</div>
</div>
<form id="update-user-form" method="post" action="/admin/users/do">
	<div class="table-responsive">
		<table id="users-table" class="table table-hover table-bordered">
			<thead>
				<tr><td><input type="checkbox" onclick="selectAll(this, 'users-table-body')" /></td><td>Name</td><td>Role</td><td>Hashed Password</td></tr>
			</thead>
			<tbody id="users-table-body">
			</tbody>
		</table>
	</div>
	<div>
		<select class="selectpicker" id="action-selector" name="action" data-width="auto">
			<option value="">Batch action</option>
			<option value="update">Update all</option>
			<option value="delete">Delete selected</option>
			<option value="send_email">Send email</option>
			<option value="change_role">Change role</option>
			<option value="reset_password">Reset password</option>
		</select>
		<span id="update-user-help-text"></span>
		<?php echo $role_select_dom?>
		<div class="pull-right">
			<input type="submit" class="btn btn-default" id="submit_button" value="Submit" disabled="" />
		</div>
	</div>
	<div id="email_form" class="hide form-horizontal">
		<div class="form-group">
			<div class="col-sm-12">
				<input type="text" id="email_subject" name="subject" class="form-control" placeholder="Subject" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<textarea name="body" id="email_body" class="form-control" rows="4" placeholder="Email body here."></textarea>
				<div class="help-block">Use <code>{user_id}</code>, <code>{role_id}</code>, <code>{role_name}</code> to refer to the username, password, role ID, and role name, of a user.</div>
			</div>
		</div>
	</div>
	<div id="update-user-response" class="text-center"></div>
</form>

<h3 class="sub-header">Batch add</h3>
<div class="form-horizontal">
	<form id="add-user-form" role="form" method="post" action="/admin/users/do">
		<input type="hidden" name="action" value="add" />
		<div class="form-group">
			<div class="col-sm-12">
				<?php echo str_replace('auto">', 'auto"><option value="">Choose a role</option>', $role_select_dom)?>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<textarea name="user_list" class="form-control" rows="4"></textarea>
				<div class="help-block">List usernames, <em>one per line</em>. Passwords will be generated automatically.</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="notify" value="true" /> Notify the user via email if added successfully.
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9" id="add-user-response">
			</div>
			<div class="col-sm-3 text-right">
				<input type="button" class="btn btn-default" value="Clear" />
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</div>
	</form>
</div>