<h2 class="page-header">Announcements
</h2>
<h3 class="sub-header">Create
	<small>a new article.</small>
</h3>
<article class="content-block">
<div class="form-horizontal">
	<?php
		$article['title'] = '';
		$article['content'] = '';
		$article['guid'] = '';
		$article['link'] = '';
		$article['pubDate'] = '';
		require 'ajax_announcement_form.html';
	?>
</div>
</article>
<h3 class="sub-header">Manage
	<small>existing articles.</small>
</h3>
<?php
if (!isset($announcements) || count($announcements) == 0)
	echo " <p class=\"bg-info notification-bar text-center\">There is no announcement to display.</p>";
else {
	echo '';
	foreach($announcements as $item) {
		echo '<article class="content-block">';
		$article['title'] = $item->title;
		$article['content'] = $item->description;
		$article['guid'] = $item->guid;
		$article['link'] = $item->link;
		$article['pubDate'] = $item->pubDate;
		require 'ajax_announcement_form.html';
		echo '</article>';
	}
}
