<h2 class="page-header">Home
<small>data collected at <?php echo date('c')?></small>
</h2>
<h3 class="sub-header">Status</h3>
<h4>Assignments</h4>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr><td></td><td></td></tr>
		</thead>
		<tbody>
			<tr><td># open assignments</td><td></td></tr>
			<tr><td># closed assignments</td><td></td></tr>
		</tbody>
	</table>
</div>
<h4>Submissions</h4>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr><td></td><td></td></tr>
		</thead>
		<tbody>
			<tr><td># "graded"</td><td></td></tr>
			<tr><td># "queued"</td><td></td></tr>
			<tr><td># "submitted"</td><td></td></tr>
			<tr><td>total</td><td></td></tr>
		</tbody>
	</table>
</div>
<h4>Web Server</h4>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr><td></td><td></td></tr>
		</thead>
		<tbody>
			<tr><td>Uptime</td><td></td></tr>
			<tr><td>CPU Usage</td><td></td></tr>
			<tr><td>Memory Usage</td><td></td></tr>
		</tbody>
	</table>
</div>