*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
grader/lib
grader/lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

tmp
trash
submissions
test.*
test

# default sql files are named *.def
*.sql

# file to save creds
credentials.txt

# Grader credentials file
grader.json
globals.ini

