<?php
$page_title = "Admin Panel";

require "header.html";
?>
		<div class="container-fluid">
			<article class="row" id="main">
				<div role="navigation" id="sidebar" class="col-xs-3 col-sm-3">
					<div class="list-group">
					<a href="/" class="list-group-item active"><h4 class="list-group-item-heading">Home</h4><p class="list-group-item-text">System status.</p></a>
					<a href="/admin/announcements" class="list-group-item"><h4 class="list-group-item-heading">Announcements</h4><p class="list-group-item-text">Add, edit, or delete announcements.</p></a>
					<a href="/admin/users" class="list-group-item"><h4 class="list-group-item-heading">Users</h4><p class="list-group-item-text">Manage users and roles, mass send emails.</p></a>
					<a href="/admin/assignments" class="list-group-item"><h4 class="list-group-item-heading">Assignments</h4><p class="list-group-item-text">Manage assignments, stat grades.</p></a>
					<a href="/admin/submissions" class="list-group-item"><h4 class="list-group-item-heading">Submissions</h4><p class="list-group-item-text">Manage and fetch submissions.</p></a>
					<a href="/admin/servers" class="list-group-item"><h4 class="list-group-item-heading">Servers</h4><p class="list-group-item-text">Manage grader daemons.</p></a>
					</div>
				</div>
			
				<section id="content" class="col-xs-9 col-sm-9">
					Loading...
				</section>
			</article>
		</div>
		<div id="wrapperModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wrapperModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">Loading...</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<p id="copyright" class="text-center">
					Copyright &copy; Department of Computer Science, Purdue University
					<br />
					<?php echo 'Execution time: ' . round(1e3*(microtime(TRUE)-$TIME),2) . ' ms / Memory: ' . round(memory_get_usage(TRUE)/1e3,1) . ' KiB';?>
				</p>
			</div>
		</div>
		<div id="loading" class="animated">Loading...</div>
		
		<div id="wrapperModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wrapperModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
			<div class="modal-content">Loading...</div>
			</div>
		</div>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
		<script src="/assets/js/bootstrap.file-input.js"></script>
		<script src="/assets/js/ag_admin.js"></script>
	</body>
</html>
