<?php
$Base = \Base::instance();

$page_title = "Forgot Password";
require "header.html";
?>		
		<div class="container-fluid">
			<form id="forgot_password_form" class="form-signin" role="form" method="post" action="/forgot_password">
				<h2 class="form-signin-heading">Forgot Password</h2>
				<input type="text" class="form-control" placeholder="Purdue account" name="user_id" id="user_id" required autofocus>
				<label id="help_text" class="help-block">
					Your password will be sent to your Purdue email address.
				</label>
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
					</div>
					<div class="col-sm-4 col-md-4">
						<button class="btn btn-lg btn-default btn-block" type="button" onclick="window.history.back()">Back</button>
					</div>
				</div>
			</form>
		</div>
<?php
require "footer.html";