<?php
$Base = \Base::instance();

$page_title = "Sign In";
require "header.html";
?>		
		<div class="container-fluid">
			<form class="form-signin" role="form" method="post" action="/sign_in">
				<h2 class="form-signin-heading">Forget Password</h2>
				<input type="text" class="form-control" placeholder="Purdue account" name="userid" id="userid" required autofocus>
				<label class="help-block">
					Your password will be sent to your email account.
				</label>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>
		</div>
<?php
require "footer.html";