<?php
$Base = \Base::instance();

$page_title = "Sign In";
require "header.html";
?>		
		<div class="container-fluid">
			<form class="form-signin" role="form" method="post" action="/sign_in">
				<h2 class="form-signin-heading">Sign in</h2>
				<input type="hidden" name="redirect_hash" id="redirect_hash" />
				<input type="text" class="form-control" placeholder="Purdue account" name="userid" id="userid" required autofocus>
				<input type="password" class="form-control" placeholder="Turn-in Password" name="password" id="password" required>
				<label class="help-block">
					<a href="/forgot_password">Forgot password?</a>
				</label>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
		</div>
<?php
require "footer.html";