<?php
$page_title = "Assignments";

require "header.html";
?>
<div class="container-fluid">
	<article class="row" id="main">
		<div role="navigation" id="sidebar" class="col-xs-4 col-sm-4">
			<div class="list-group">
			<a href="/" class="list-group-item active"><h4 class="list-group-item-heading">Announcements</h4><p class="list-group-item-text">View all system-wide announcements.</p></a>
<?php
foreach ($assignments as $key => $data) {
	if (strtotime($data["start"]) > time() && !$me["role"]["permissions"]["submit_prestart"]) continue;
	echo "\t\t\t\t<a class=\"list-group-item\" href=\"/assignment/" . $key . "\"><h4 class=\"list-group-item-heading\">" . $data["display"] . "</h4><p class=\"list-group-item-text\">Due: " . date('D, d M Y H:i:s', strtotime($data["close"])) . "</p></a>";
}
?>
			</div>
		</div>
        	
		<section id="content" class="col-xs-8 col-sm-8">
			Loading...
		</section>
	</article>
</div>
<div id="wrapperModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wrapperModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      Loading...
    </div>
  </div>
</div>
<?php
require "footer.html";